    <table class="table table-hover">
        <tr>
            <td width="70px">
                <span class="user_popup">
                    <a href="{{ url_for('main.user_profile', username=post.author.username) }}">
                        <img src="{{ post.author.avatar(70) }}" />
                    </a>
                 </span>
            </td>
            <td>
                <span class="user_popup">
                    <a href="{{ url_for('main.user_profile', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </span>

                said {{ moment(post.timestamp).fromNow() }}:
                <br>
                Title: {{ post.title }}
                <br>
                {{ post.body }}
            </td>
        </tr>
    </table>
